In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('data/data.csv')

In [3]:
df.columns

Index(['Week', 'Python', 'Java', 'C++'], dtype='object')

In [4]:
df.head()

        Week  Python  Java  C++
0  4/21/2019      55    55   18
1  4/28/2019      52    50   16
2   5/5/2019      56    56   17
3  5/12/2019      56    61   18
4  5/19/2019      57    56   17

In [6]:
df.describe()

           Python        Java         C++
count  262.000000  262.000000  262.000000
mean    68.965649   48.851145   19.290076
std     14.073519    6.925768    3.805599
min     37.000000   28.000000   12.000000
25%     58.000000   44.000000   17.000000
50%     65.500000   48.000000   18.000000
75%     80.000000   54.000000   21.000000
max    100.000000   66.000000   31.000000

In [7]:
df.dtypes

Week      object
Python     int64
Java       int64
C++        int64
dtype: object

In [5]:
df.Week.dtype

dtype('O')